beautifulsoup4==4.11.1
certifi==2022.9.24
charset-normalizer==2.1.1
colorama==0.4.5
colorifix==2.0.4
emoji==2.1.0
halo==0.0.31
idna==3.4
log-symbols==0.0.14
pymortafix==0.2.2
requests==2.28.1
six==1.16.0
soupsieve==2.3.2.post1
spinners==0.0.24
tabulate==0.8.10
termcolor==2.0.1
urllib3==1.26.12
